# FastAPI and server dependencies
fastapi
uvicorn
python-multipart
pydantic
email-validator
python-jose
passlib
bcrypt

# Data processing dependencies
pandas
numpy

# ML dependencies
tensorflow
scikit-learn
matplotlib